In [1]:
import numpy as np
import pandas as pd
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
movies= pd.read_csv('movies.csv')
credit= pd.read_csv('credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
print('The Movie dataframe has {} rows and {} columns'.format(movies.shape[0],movies.shape[1]))

The Movie dataframe has 4803 rows and 20 columns

In [5]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
print('The Credit dataframe has {} rows and {} columns'.format(credit.shape[0],credit.shape[1]))

The Credit dataframe has 4803 rows and 4 columns

In [7]:
df= movies.merge(credit, on='title')

In [8]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
print('The Merged dataframe consisting of movies and credit  has {} rows and {} columns'.format(df.shape[0],df.shape[1]))

The Merged dataframe consisting of movies and credit  has 4808 rows and 23 columns

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

# TOP MOVIES BASED ON WEIGHTED RATING

In [11]:
top_movies = df[['movie_id','title','release_date','vote_count','vote_average','popularity','genres']]

In [12]:
top_movies.head()

,movie_id,title,release_date,vote_count,vote_average,popularity,genres
0,19995,Avatar,10-12-2009,11800,7.2,150.437577,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
1,285,Pirates of the Caribbean: At World's End,19-05-2007,4500,6.9,139.082615,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""..."
2,206647,Spectre,26-10-2015,4466,6.3,107.376788,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."
3,49026,The Dark Knight Rises,16-07-2012,9106,7.6,112.312950,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam..."
4,49529,John Carter,07-03-2012,2124,6.1,43.926995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam..."

In [13]:
top_movies['year'] = pd.to_datetime(top_movies['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [14]:
top_movies.head()

,movie_id,title,release_date,vote_count,vote_average,popularity,genres,year
0,19995,Avatar,10-12-2009,11800,7.2,150.437577,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2009
1,285,Pirates of the Caribbean: At World's End,19-05-2007,4500,6.9,139.082615,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2007
2,206647,Spectre,26-10-2015,4466,6.3,107.376788,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2015
3,49026,The Dark Knight Rises,16-07-2012,9106,7.6,112.312950,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",2012
4,49529,John Carter,07-03-2012,2124,6.1,43.926995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2012

I will use the IMBD rating formula to come up with the Top Movies Chart

Weighted Rating(WR)=$\frac{R(v)}{(v+m)}$ + $\frac{C(m)}{(v+m)}$

Where 
- v= the number of votes for the movie
- m= minimum number of votes required to be listed 
- R= averate rating for the movie
- C= mean vote across the whole movie

In [15]:
average_of_votes= top_movies[top_movies['vote_average'].notnull()]['vote_average']
vote_counts= top_movies[top_movies['vote_count'].notnull()]['vote_count']
C = top_movies[top_movies['vote_average'].notnull()]['vote_average'].mean()
m = vote_counts.quantile(0.90)

In [16]:
def weighted_rating(x):
    v =x['vote_count']
    R =x['vote_average']
    return (v/(v+m)*R)+(m/(v+m)*C)

In [17]:
top_movies['wr']=top_movies.apply(weighted_rating,axis=1)

# TOP MOVIES

In [18]:
top_movies= top_movies.sort_values('wr',ascending=False).head(100)
top_movies

,movie_id,title,release_date,vote_count,vote_average,popularity,genres,year,wr
1887,278,The Shawshank Redemption,23-09-1994,8205,8.5,136.747729,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1994,8.058418
662,550,Fight Club,15-10-1999,9413,8.3,146.757391,"[{""id"": 18, ""name"": ""Drama""}]",1999,7.938559
65,155,The Dark Knight,16-07-2008,12002,8.2,187.322927,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",2008,7.919460
3237,680,Pulp Fiction,08-10-1994,8428,8.3,121.463076,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",1994,7.903898
96,27205,Inception,14-07-2010,13752,8.1,167.583710,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2010,7.862760
3342,238,The Godfather,14-03-1972,5893,8.4,143.659698,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1972,7.850278
95,157336,Interstellar,05-11-2014,10867,8.1,724.247784,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",2014,7.808911
809,13,Forrest Gump,06-07-1994,7927,8.2,138.133331,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",1994,7.802453
329,122,The Lord of the Rings: The Return of the King,01-12-2003,8064,8.1,123.630332,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2003,7.726556
1996,1891,The Empire Strikes Back,17-05-1980,5879,8.2,78.517830,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1980,7.697021
262,120,The Lord of the Rings: The Fellowship of the Ring,18-12-2001,8705,8.0,138.049577,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2001,7.666724
2917,11,Star Wars,25-05-1977,6624,8.1,126.393695,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1977,7.663045
1824,424,Schindler's List,29-11-1993,4329,8.3,104.469351,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",1993,7.640848
3871,244786,Whiplash,10-10-2014,4254,8.3,192.528841,"[{""id"": 18, ""name"": ""Drama""}]",2014,7.632740
330,121,The Lord of the Rings: The Two Towers,18-12-2002,7487,8.0,106.914973,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2002,7.623217
1559,807,Se7en,22-09-1995,5765,8.1,79.579532,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 9648, ""na...",1995,7.613712
94,118340,Guardians of the Galaxy,30-07-2014,9742,7.9,481.098624,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2014,7.612466
634,603,The Matrix,30-03-1999,8907,7.9,104.309993,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",1999,7.590133
2300,129,Spirited Away,20-07-2001,3840,8.3,118.968562,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",2001,7.584133
77,150540,Inside Out,09-06-2015,6560,8.0,128.655964,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",2015,7.581653
2291,105,Back to the Future,03-07-1985,6079,8.0,76.603233,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...",1985,7.556253
690,497,The Green Mile,10-12-1999,4048,8.2,103.698022,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...",1999,7.540696
287,68718,Django Unchained,25-12-2012,10099,7.8,82.121691,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 37, ""name...",2012,7.536497
2528,205596,The Imitation Game,14-11-2014,5723,8.0,145.364591,"[{""id"": 36, ""name"": ""History""}, {""id"": 18, ""na...",2014,7.535374
2737,240,The Godfather: Part II,20-12-1974,3338,8.3,105.792936,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1974,7.514775
494,8587,The Lion King,23-06-1994,5376,8.0,90.457886,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 16, ""...",1994,7.513042
2097,274,The Silence of the Lambs,01-02-1991,4443,8.1,18.174804,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",1991,7.511446
298,106646,The Wolf of Wall Street,25-12-2013,6571,7.9,95.007934,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",2013,7.504107
571,16869,Inglourious Basterds,18-08-2009,6430,7.9,72.595961,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",2009,7.497359
3578,77,Memento,11-10-2000,4028,8.1,60.715151,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 53, ""...",2000,7.469845
693,210577,Gone Girl,01-10-2014,5862,7.9,143.041543,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 53, ""...",2014,7.467679
1538,120467,The Grand Budapest Hotel,26-02-2014,4519,8.0,74.417456,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",2014,7.447449
274,98,Gladiator,01-05-2000,5439,7.9,95.301296,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",2000,7.442567
2290,694,The Shining,22-05-1980,3757,8.1,78.699993,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...",1980,7.439352
1199,1124,The Prestige,19-10-2006,4391,8.0,74.440708,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",2006,7.436104
1853,769,GoodFellas,12-09-1990,3128,8.2,63.654244,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1990,7.418684
628,857,Saving Private Ryan,24-07-1998,5048,7.9,76.041867,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",1998,7.416613
439,11324,Shutter Island,18-02-2010,6336,7.8,81.914696,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",2010,7.415268
57,10681,WALLÂ·E,22-06-2008,6296,7.8,66.390712,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",2008,7.413377
88,177572,Big Hero 6,24-10-2014,6135,7.8,203.734590,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2014,7.405576
3062,73,American History X,30-10-1998,3016,8.2,73.567232,"[{""id"": 18, ""name"": ""Drama""}]",1998,7.400676
1496,1892,Return of the Jedi,23-05-1983,4665,7.9,46.509071,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1983,7.388166
3726,510,One Flew Over the Cuckoo's Nest,18-11-1975,2919,8.2,127.525581,"[{""id"": 18, ""name"": ""Drama""}]",1975,7.384395
3459,629,The Usual Suspects,19-07-1995,3254,8.1,64.025031,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1995,7.374160
3163,348,Alien,25-05-1979,4470,7.9,94.184658,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 28, ""nam...",1979,7.372357
4305,500,Reservoir Dogs,02-09-1992,3697,8.0,66.925866,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 53, ""name...",1992,7.365468
351,1422,The Departed,05-10-2006,4339,7.9,63.429157,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",2006,7.361177
66,14160,Up,13-05-2009,6870,7.7,92.201962,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",2009,7.360002
3,49026,The Dark Knight Rises,16-07-2012,9106,7.6,112.312950,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",2012,7.346269
2003,152601,Her,18-12-2013,4097,7.9,53.682367,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 878,...",2013,7.339226
191,673,Harry Potter and the Prisoner of Azkaban,31-05-2004,5877,7.7,79.679601,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2004,7.316271
697,37165,The Truman Show,04-06-1998,4537,7.8,56.488027,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",1998,7.306789
2111,76203,12 Years a Slave,18-10-2013,3674,7.9,95.922900,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",2013,7.296232
2766,264644,Room,16-10-2015,2757,8.1,66.113340,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",2015,7.295742
270,286217,The Martian,30-09-2015,7268,7.6,167.932870,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 12, ""name...",2015,7.295084
2158,38,Eternal Sunshine of the Spotless Mind,19-03-2004,3652,7.9,56.481487,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",2004,7.293815
2459,207,Dead Poets Society,02-06-1989,2705,8.1,55.458584,"[{""id"": 18, ""name"": ""Drama""}]",1989,7.286547
1547,862,Toy Story,30-10-1995,5269,7.7,73.640445,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",1995,7.283467
1731,78,Blade Runner,25-06-1982,3509,7.9,94.056131,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",1982,7.277620
2176,539,Psycho,16-06-1960,2320,8.2,93.067866,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",1960,7.267049
1856,111,Scarface,08-12-1983,2948,8.0,70.105981,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",1983,7.266275
828,24,Kill Bill: Vol. 1,10-10-2003,4949,7.7,79.754966,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",2003,7.263843
2522,14,American Beauty,15-09-1999,3313,7.9,80.878605,"[{""id"": 18, ""name"": ""Drama""}]",1999,7.253962
328,12,Finding Nemo,30-05-2003,6122,7.6,85.688789,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",2003,7.251215
85,100402,Captain America: The Winter Soldier,20-03-2014,5764,7.6,72.225265,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2014,7.234801
932,752,V for Vendetta,15-03-2006,4442,7.7,84.630969,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2006,7.228661
25,597,Titanic,18-11-1997,7562,7.5,100.025899,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",1997,7.224214
1054,146233,Prisoners,18-09-2013,3085,7.9,88.496873,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",2013,7.224074
16,24428,The Avengers,25-04-2012,11776,7.4,144.448633,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",2012,7.223081
119,272,Batman Begins,10-06-2005,7359,7.5,115.040024,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",2005,7.218131
788,293660,Deadpool,09-02-2016,10995,7.4,514.569956,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2016,7.212318
2971,62,2001: A Space Odyssey,10-04-1968,2998,7.9,86.201184,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",1968,7.211927
4607,389,12 Angry Men,25-03-1957,2078,8.2,59.259204,"[{""id"": 18, ""name"": ""Drama""}]",1957,7.209472
4307,429,"The Good, the Bad and the Ugly",23-12-1966,2311,8.1,88.377076,"[{""id"": 37, ""name"": ""Western""}]",1966,7.209398
279,280,Terminator 2: Judgment Day,01-07-1991,4185,7.7,101.741550,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",1991,7.208567
197,671,Harry Potter and the Philosopher's Stone,16-11-2001,7006,7.5,109.984351,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2001,7.206887
199,22,Pirates of the Caribbean: The Curse of the Bla...,09-07-2003,6985,7.5,271.972889,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2003,7.206190
4342,103,Taxi Driver,07-02-1976,2535,8.0,58.845025,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",1976,7.197064
3576,152532,Dallas Buyers Club,07-09-2013,2886,7.9,59.454473,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",2013,7.195632
2553,266856,The Theory of Everything,26-11-2014,3311,7.8,61.182331,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",2014,7.189474
1263,194,AmÃ©lie,25-04-2001,3310,7.8,73.720244,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",2001,7.189355
1993,4935,Howl's Moving Castle,19-11-2004,1991,8.2,49.549984,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 16, ""na...",2004,7.186997
74,137113,Edge of Tomorrow,27-05-2014,4858,7.6,79.456485,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2014,7.185427
675,329,Jurassic Park,11-06-1993,4856,7.6,40.413191,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 878, ...",1993,7.185303
2253,128,Princess Mononoke,12-07-1997,1983,8.2,60.732738,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",1997,7.184879
2980,489,Good Will Hunting,05-12-1997,2811,7.9,43.734886,"[{""id"": 18, ""name"": ""Drama""}]",1997,7.184282
2091,85,Raiders of the Lost Ark,12-06-1981,3854,7.7,68.159596,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1981,7.180016
2758,264660,Ex Machina,21-01-2015,4737,7.6,95.130041,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 878, ""nam...",2015,7.177804
883,640,Catch Me If You Can,25-12-2002,3795,7.7,73.944049,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",2002,7.174574
68,1726,Iron Man,30-04-2008,8776,7.4,120.725053,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2008,7.173100
46,127585,X-Men: Days of Future Past,15-05-2014,6032,7.5,118.078691,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2014,7.170635
231,585,"Monsters, Inc.",01-11-2001,5996,7.5,106.815545,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",2001,7.169123
42,10193,Toy Story 3,16-06-2010,4597,7.6,59.995418,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",2010,7.168626
22,57158,The Hobbit: The Desolation of Smaug,11-12-2013,4524,7.6,94.370564,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2013,7.163681
1819,13223,Gran Torino,09-12-2008,3086,7.8,50.745300,"[{""id"": 18, ""name"": ""Drama""}]",2008,7.161606
2184,5915,Into the Wild,11-09-2007,3045,7.8,43.644978,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",2007,7.156251
114,674,Harry Potter and the Goblet of Fire,05-11-2005,5608,7.5,101.250416,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2005,7.151893
684,273248,The Hateful Eight,25-12-2015,4274,7.6,68.717016,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",2015,7.145849
3713,141,Donnie Darko,18-01-2001,3452,7.7,61.210016,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...",2001,7.140540
2613,115,The Big Lebowski,06-03-1998,2926,7.8,49.230089,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",1998,7.140189

In [19]:
mov = df[['movie_id','title','release_date','vote_count','vote_average','popularity','genres']]
mov['year'] = pd.to_datetime(mov['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

BUILDING CHARTS FOR TOP MOVIES BASED ON YEAR

In [20]:
def top_movies_per_year(year,percentile,number):
    movie= mov[mov['year'] == year]
    average= movie[movie['vote_average'].notnull()]['vote_average']
    counts= movie[movie['vote_count'].notnull()]['vote_count']
    C = movie[movie['vote_average'].notnull()]['vote_average'].mean()
    m = counts.quantile(percentile)
    qualified = movie[(movie['vote_count'] >= m) & (movie['vote_count'].notnull()) & (movie['vote_average'].notnull())]
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified= qualified.sort_values('wr',ascending=False).head(number)

    return  qualified

In [21]:
#The top 50 movies in 2014 
top_movies_per_year(year='2014',percentile=0.90,number=50)

,movie_id,title,release_date,vote_count,vote_average,popularity,genres,year,wr
95,157336,Interstellar,05-11-2014,10867,8.1,724.247784,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",2014,7.510940
94,118340,Guardians of the Galaxy,30-07-2014,9742,7.9,481.098624,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2014,7.310939
2528,205596,The Imitation Game,14-11-2014,5723,8.0,145.364591,"[{""id"": 36, ""name"": ""History""}, {""id"": 18, ""na...",2014,7.112283
3871,244786,Whiplash,10-10-2014,4254,8.3,192.528841,"[{""id"": 18, ""name"": ""Drama""}]",2014,7.108601
693,210577,Gone Girl,01-10-2014,5862,7.9,143.041543,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 53, ""...",2014,7.061843
88,177572,Big Hero 6,24-10-2014,6135,7.8,203.734590,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2014,7.021129
1538,120467,The Grand Budapest Hotel,26-02-2014,4519,8.0,74.417456,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",2014,6.975822
85,100402,Captain America: The Winter Soldier,20-03-2014,5764,7.6,72.225265,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2014,6.862299
46,127585,X-Men: Days of Future Past,15-05-2014,6032,7.5,118.078691,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2014,6.818909
74,137113,Edge of Tomorrow,27-05-2014,4858,7.6,79.456485,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2014,6.780506
2844,222935,The Fault in Our Stars,16-05-2014,3759,7.6,74.358971,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 18, ...",2014,6.653163
2340,194662,Birdman,27-08-2014,4535,7.4,89.811154,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",2014,6.631215
790,190859,American Sniper,11-12-2014,4469,7.4,87.534370,"[{""id"": 10752, ""name"": ""War""}, {""id"": 28, ""nam...",2014,6.624696
3239,242582,Nightcrawler,23-10-2014,3395,7.6,89.095538,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",2014,6.601787
456,228150,Fury,15-10-2014,3946,7.4,139.575085,"[{""id"": 10752, ""name"": ""War""}, {""id"": 18, ""nam...",2014,6.568839
82,119450,Dawn of the Planet of the Apes,26-06-2014,4410,7.3,243.791743,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",2014,6.561674
19,122917,The Hobbit: The Battle of the Five Armies,10-12-2014,4760,7.1,120.965743,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2014,6.475764
1471,198663,The Maze Runner,10-09-2014,5371,7.0,131.815575,"[{""id"": 28, ""name"": ""Action""}, {""id"": 9648, ""n...",2014,6.457836
81,102651,Maleficent,28-05-2014,4496,7.0,110.620647,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",2014,6.397090
400,157350,Divergent,14-03-2014,4663,6.9,80.316463,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",2014,6.351253
911,187017,22 Jump Street,05-06-2014,3319,7.0,52.380982,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 35, ""name...",2014,6.290096
200,131631,The Hunger Games: Mockingjay - Part 1,18-11-2014,5584,6.6,206.227151,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",2014,6.219776
38,102382,The Amazing Spider-Man 2,16-04-2014,4179,6.5,89.270217,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2014,6.092698
1156,240832,Lucy,14-07-2014,5878,6.3,115.241998,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2014,6.040084

# CONTENT BASED RECOMMENDATION

In [22]:
cb_df =df[['movie_id','title','overview','genres','keywords','cast','crew']]

In [23]:
cb_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
cb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4808 non-null   int64
 1   title     4808 non-null   object
 2   overview  4805 non-null   object
 3   genres    4808 non-null   object
 4   keywords  4808 non-null   object
 5   cast      4808 non-null   object
 6   crew      4808 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.5+ KB

In [25]:
cb_df.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [26]:
cb_df.dropna(inplace=True)

In [27]:
cb_df.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [28]:
cb_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4805 entries, 0 to 4807
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4805 non-null   int64
 1   title     4805 non-null   object
 2   overview  4805 non-null   object
 3   genres    4805 non-null   object
 4   keywords  4805 non-null   object
 5   cast      4805 non-null   object
 6   crew      4805 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.3+ KB

In [29]:
cb_df.duplicated().sum()

0

In [30]:
cb_df['genres']=cb_df['genres'].replace("'", '\"')

In [31]:
cb_df['genres'].head()

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1    [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [32]:
def conv(x):
    L=[]
    for i in literal_eval(x):
        L.append(i['name'])
    return L

In [33]:
cb_df['keywords']=cb_df['keywords'].apply(conv)
cb_df['genres']=cb_df['genres'].apply(conv)

In [34]:
cb_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [35]:
def conv1(x):
    M=[]
    counter=0
    for i in literal_eval(x):
        if counter !=5 :
            M.append(i['name'])
            counter +=1
        else:
            break
        return M

In [36]:
cb_df['cast']=cb_df['cast'].apply(conv1)

In [37]:
def conv2(x):
    M=[]
    for i in literal_eval(x):
        if i['job']=='Director':
            M.append(i['name'])
        return M

In [38]:
cb_df['crew']=cb_df['crew'].apply(conv2)

In [39]:
cb_df['overview']=cb_df['overview'].apply(lambda x: x.split())

In [40]:
#closing spaces that may have been created

cb_df['keywords']=cb_df['keywords'].replace(' ','')
cb_df['cast']=cb_df['cast'].replace(' ','')
cb_df['genres']=cb_df['genres'].replace(' ','')
cb_df['crew']=cb_df['crew'].replace(' ','')

In [41]:
cb_df.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],[]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],[]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],[]

In [42]:
cb_df['tags']= cb_df['overview']+cb_df['genres']+cb_df['keywords']+cb_df['cast']+cb_df['crew']

In [43]:
cb_df.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...",[Sam Worthington],[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...",[Johnny Depp],[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...",[Daniel Craig],[],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...",[Christian Bale],[],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...",[Taylor Kitsch],[],"[John, Carter, is, a, war-weary,, former, mili..."

In [44]:
new_cb_df= cb_df[['movie_id','title','tags']]
new_cb_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [45]:
new_cb_df['tags'].dtype

dtype('O')

In [46]:
#new_cb_df['tags'] = new_cb_df['tags'].apply(lambda x: [i.lower() for i in x])
new_cb_df['tags'] = new_cb_df['tags'].apply(lambda x: [i.lower() for i in x] if isinstance(x, list) else [])

In [47]:
new_cb_df['tags'].head(8)

0    [in, the, 22nd, century,, a, paraplegic, marin...
1    [captain, barbossa,, long, believed, to, be, d...
2    [a, cryptic, message, from, bondâ€™s, past, send...
3    [following, the, death, of, district, attorney...
4    [john, carter, is, a, war-weary,, former, mili...
5    [the, seemingly, invincible, spider-man, goes,...
6    [when, the, kingdom's, most, wanted-and, most,...
7    [when, tony, stark, tries, to, jumpstart, a, d...
Name: tags, dtype: object

In [48]:
tf=TfidfVectorizer(max_features=1000, stop_words='english',min_df=0)

new_data = tf.fit_transform(new_cb_df['tags'].apply(lambda x: ' '.join(x)))

In [49]:
new_data.shape

(4805, 1000)

In [50]:
similarity= cosine_similarity(new_data)

In [51]:
new_cb_df[new_cb_df['title']=='The Dark Knight Rises'].index[0]

3

In [52]:
dist= sorted(list(enumerate(similarity[3])),reverse=True, key=lambda x:x[1])
for i in dist[0:6]:
    print(new_cb_df.iloc[i[0]].title)

The Dark Knight Rises
Batman
The Dark Knight
Batman
Batman Begins
Defendor

In [53]:
def recommend_movies(movie_name):
    idx=new_cb_df[new_cb_df['title']==movie_name].index[0]
    dist= sorted(list(enumerate(similarity[idx])),reverse=True, key=lambda x:x[1])
    
    for i in dist[0:6]:
        print(new_cb_df.iloc[i[0]].title)

In [54]:
recommend_movies('John Carter')

John Carter
Star Trek: Insurrection
Escape from Planet Earth
Planet 51
Avatar
Aliens

In [55]:
similarity.shape

(4805, 4805)

In [56]:
import pickle

In [57]:
pickle.dump(new_cb_df,open('movies_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [60]:
import streamlit as st

In [ ]:
pip install --upgrade streamlit